.bottom-bar-home {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: #ff2727a2;
	backdrop-filter: blur(4px);
	display: flex;
}

.player-head {
	margin: auto 30px;
	background-image: url('../../images/default/setve.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 15px;
	transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.player-head:hover {
	border-radius: 5px;
	transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.settings-btn {
	position: absolute;
	top: 10px;
	right: 30px;
	text-align: center;
	height: 50px;
	border: none;
	border-radius: 15px;
	transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.settings-btn:hover {
	border-radius: 5px;
	transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.icon-settings:before {
	font-size: 40px;
}

.play-element {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	height: 100%;
	color: #f1f1f1;
	font: normal normal bold 19px/29px 'Delius Swash Caps';
	text-align: center;
}

.play-btn {
	top: 10px;
	width: 160px;
	height: 37px;
	border-radius: 20px;
	border: none;
	background: #ff0000;
	font: normal normal bold 20px/25px 'Delius Swash Caps';
	color: #121212;
	margin: 15px 0;
}

.play-btn:hover {
	background: #ff5d5d;
}

.download-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-download,
.progress-bar {
	display: none;
}

.text-download {
	font-size: 15px;
}

.progress-bar {
	background-color: transparent;
	height: 10px;
}

.progress-bar::-webkit-progress-bar {
	background-color: #797979;
	border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
	background-color: #ff5d5d;
	border-radius: 10px;
}

.body-home {
	display: flex;
	height: 78vh;
	margin: 3rem 2rem;
}

.news-list {
	position: relative;
	overflow: auto;
	width: 100%;
}

.news-list::-webkit-scrollbar {
	width: 0;
}

.news-block {
	margin-bottom: 1rem;
	transition: opacity 1s;
	opacity: 0.7;
}

.news-block:hover {
	transition: opacity 1s;
	opacity: 1;
}

.opacity-1 {
	opacity: 1;
}

.news-header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 87px;
	background-color: #89e7ffa1;
	border-radius: 10px 10px 0px 0px;
	transition: color 0.2s, filter 0.2s;
}

.title {
	position: absolute;
	font: normal normal bold 27px/40px 'Delius Swash Caps';
	letter-spacing: 0px;
	color: #e1e1e1;
	display: flex;
	position: absolute;
	text-decoration: none;
	max-width: calc(100% - 158px);
	font-weight: 600;
	font-size: 18px;
	top: 50%;
	left: 30px;
	transform: translate(0, -50%);
	overflow: hidden;
	line-height: 25px;
	align-items: center;
	height: 3em;
	transition: color 0.2s;
}

.date {
	position: absolute;
	top: 15px;
	right: 20px;
	color: #e1e1e1;
	width: 75px;
	text-align: center;
	font-weight: 900;
	font-family: 'Delius Swash Caps';
	transition: color 0.2s;
}

.day {
	font-size: 28px;
	margin-bottom: -5px;
	display: block;
}

.month {
	text-transform: uppercase;
	font-size: 14px;
}

.news-content {
	position: relative;
	width: 100%;
}

.bbWrapper {
	position: relative;
	padding: 20px;
	background-color: #93d7ff42;
	font-family: 'Delius Swash Caps';
	font-size: 13px !important;
	color: #e1e1e1;
	text-decoration: none;
	border-radius: 0px 0px 10px 10px;
	transition: color 0.2s;
}

.news-author {
	text-align: end;
	margin: 0;
	color: #f1f1f1;
}

.news-author span {
	font-style: italic;
}

.info-list {
	position: relative;
	width: 65vh;
	padding-left: 1rem;
	background: none;
}

.server {
	position: relative;
	width: 100%;
	height: 75px;
	background-color: rgba(139, 222, 255, 0.761);
	border-radius: 10px;
	transition: opacity 1s;
}

.server-img {
	position: absolute;
	width: 42px;
	height: 45px;
	top: 15px;
	left: 15px;
}

.name {
	position: absolute;
	font: normal normal bold 17px/25px 'Delius Swash Caps';
	color: #e1e1e1;
	top: 17px;
	left: 70px;
	transition: color 0.2s;
}

.desc {
	position: absolute;
	font: normal normal normal 11px/17px 'Delius Swash Caps';
	color: #e1e1e1;
	transition: all 0.2s;
	top: 40px;
	left: 70px;
	transition: color 0.2s;
}

.green {
	color: #1ac707;
}

.red {
	color: #ff0409;
}

.etat-text {
	position: absolute;
	top: 20px;
	right: 14px;
	width: 49px;
	height: 33px;
	background-color: #262626;
	border-radius: 4px;
	transition: background-color 0.2s;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font: normal normal bold 13px/15px 'Delius Swash Caps';
	letter-spacing: 0px;
	color: #e1e1e1;
	transition: color 0.2s;
}

.online {
	position: absolute;
	top: -6px;
	left: 41px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid #1a1a1a;
	transition: all 0.2s;
	background-color: #1ac707;
}

.online.off {
	background-color: #ff0409;
}
