.tabs-settings-btn {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: #ff000042;
	backdrop-filter: blur(4px);
	display: flex;
	justify-content: center;
}

.tab-btn-css {
	border-radius: 23px;
	width: 160px;
	height: 37px;
	margin: auto 30px;
	background: #ff0000de;
	border: 4px solid #ff0000de;
	font: normal normal bold 20px/25px 'Delius Swash Caps';
	cursor: pointer;
	outline: none;
}

.tab-btn-css:hover {
	background: #ff00009c;
	border: 4px solid #ff00009c;
}

.active-tab-btn {
	background: #ff0000;
	border: 4px solid #ff0000;
}

.active-tab-btn:hover {
	background: #ff0000;
	border: 4px solid #ff0000;
}

.tabs-settings-content {
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 80%;
	padding-bottom: 1.5rem;
	border-radius: 20px;
	background: transparent;
	opacity: 0;
	pointer-events: none;
}

.active-tab-content {
	opacity: 1;
	pointer-events: all;
}

.information {
	padding: 0 40px;
	font: normal normal normal 16px/25px 'Delius Swash Caps';
	color: #f1f1f1;
}

.title-settings {
	text-align: center;
	font: normal normal bold 20px/25px 'Delius Swash Caps';
	color: #f1f1f1;
	margin: 2% 0;
}

.center-align {
	text-align: center;
}

.settings-content-scroll {
	overflow: auto;
	width: 100%;
	height: 100%;
}

.settings-content-scroll::-webkit-scrollbar {
	width: 0;
}

.center-page {
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 100%;
}

/*******************************************************************************
 *                                                                             *
 * account sttings                                                             *
 *                                                                             *
 ******************************************************************************/

.add-account {
	width: 80%;
	height: 10%;
	border: none;
	border-radius: 15px;
	font: normal normal bold 30px/40px 'Delius Swash Caps';
	color: #d1d1d1;
	background-color: #ff000042;
	backdrop-filter: blur(4px);
	margin: 20px 0;
	margin-bottom: 10px;
}

.accounts {
	display: contents;
	justify-content: center;
}

.account {
	display: inline-block;
	background: #ff2727a2;
	backdrop-filter: blur(4px);
	border: 4px solid #ff2727a2;
	font: normal normal bold 30px/40px 'Delius Swash Caps';
	width: 500px;
	height: 100px;
	margin: 1% 2%;
	border-radius: 25px;
	text-align: start;
}

.account:hover {
	background: #ff2727a2;
	border: 4px solid #ff2727a2;
}

.account-image-container {
	position: absolute;
	border-radius: 31px;
	margin: 15px 20px;
	pointer-events: none;
	overflow: hidden;
}
.account-image {
	height: 70px;
	transform: scale(1.1);
}

.account-name {
	margin: 0 100px;
	margin-top: 15px;
	font: normal normal bold 24px/35px 'Delius Swash Caps';
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 29ch;
	pointer-events: none;
}

.account-uuid {
	margin: 0 100px;
	font: normal normal normal 18px/27px 'Delius Swash Caps';
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 29ch;
	pointer-events: none;
}

.account-delete {
	margin: -60px 415px;
	color: #f73434;
	font-size: 50px;
	background: #353535c7;
	width: 65px;
	height: 65px;
	border-radius: 100%;
	cursor: pointer;
	text-align: center;
}

.icon-account-delete-btn {
	margin: 7px 9px;
	position: absolute;
	pointer-events: none;
}

.active-account {
	background: #ff2727a2;
	border: 4px solid #ff2727a2;
}

.active-account:hover {
	background: #ff2727a2;
	border: 4px solid #fd3f3f;
}

/*******************************************************************************
 *                                                                             *
 * java settings                                                               *
 *                                                                             *
 ******************************************************************************/

.java-settings {
	background: #ff2727a2;
	backdrop-filter: blur(4px);
	border-radius: 20px;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}

.memory-slider {
	position: relative;
	margin: 24px;
	height: 18px;
	width: 550px;
	user-select: none;
}

.slider-touch-left,
.slider-touch-right {
	box-sizing: border-box;
	display: block;
	position: absolute;
	height: 18px;
	width: 18px;
	z-index: 2;
}

.slider-touch-left span,
.slider-touch-right span {
	display: block;
	width: 20px;
	height: 10px;
	background: #f1f1f1;
	border: 4px solid #ff2e2e;
	transition: background-color 0.2s, border 0.2s;
	border-radius: 18px;
	cursor: pointer;
}

.slider-touch-left span:after,
.slider-touch-right span:after {
	content: attr(value);
	color: #ff4c4c;
	font: normal normal bold 12px/18px 'Delius Swash Caps';
	white-space: nowrap;
	pointer-events: none;
	position: absolute;
	top: -20px;
	left: 83%;
	transform: translate(-50%);
}

.slider-line {
	box-sizing: border-box;
	position: absolute;
	width: calc(100% - 18px);
	left: 9px;
	top: 7px;
	height: 4px;
	border-radius: 4px;
	background-color: #f0f0f0;
	transition: background-color 0.2s;
	z-index: 0;
	overflow: hidden;
}

.slider-line span {
	display: block;
	height: 100%;
	width: 0%;
	background: #ff5d5d;
	transition: background-color 0.2s;
}

.ram-info {
	display: flex;
	align-items: center;
	font: normal normal bold 15px/25px 'Delius Swash Caps';
	color: #f1f1f1f1;
}

.path {
	min-width: 50%;
	font: normal normal normal 13px/20px 'Delius Swash Caps';
	border-radius: 18px;
	padding: 8px 16px;
	margin: 0 40px;
	margin-top: 2%;
	color: #f1f1f1f1;
	background-color: #1f1f1f;
	user-select: text;
	transition: color 0.2s, background-color 0.2s;
	border: none;
	outline: none;
}

.path-button {
	font: normal normal bold 13px/20px 'Delius Swash Caps';
	border-radius: 18px;
	padding: 8px 30px;
	background-color: #ff5d5d;
	cursor: pointer;
	margin-left: 20px;
	transition: color 0.2s, background-color 0.2s;
	border: none;
	outline: none;
}

.path-button:hover {
	background-color: #1f1f1f;
}

.path-button-reset {
	font: normal normal bold 13px/20px 'Delius Swash Caps';
	border-radius: 18px;
	padding: 8px 30px;
	background-color: #ff5d5d;
	cursor: pointer;
	margin-left: 20px;
	transition: color 0.2s, background-color 0.2s;
	border: none;
	outline: none;
}

.path-button-reset:hover {
	background-color: #1f1f1f;
}

.path-file {
	display: none;
	pointer-events: none;
}

.args-settings {
	min-width: 50%;
	font: normal normal normal 13px/20px 'Delius Swash Caps';
	border-radius: 18px;
	padding: 8px 16px;
	margin: 0 40px;
	margin-top: 2%;
	color: #f1f1f1f1;
	background-color: #1f1f1f;
	user-select: text;
	transition: color 0.2s, background-color 0.2s;
	border: none;
	outline: none;
}

/*******************************************************************************
 *                                                                             *
 * resolution settings                                                         *
 *                                                                             *
 ******************************************************************************/

.input-size-content {
	height: 5rem;
}

.input-size {
	position: absolute;
	display: flex;
	left: 50%;
	top: 70%;
	transform: translate(-50%, 0);
}

.input-settings {
	text-align: center;
	background: #1f1f1f;
	border: none;
	outline: none;
	border-radius: 40px;
	font-size: 20px;
	width: 100px;
	color: #f1f1f1f1;
}

.size-cross {
	margin: 10px;
}

.size-cross:before {
	font: normal normal bold 20px Icons;
	content: '\e90e';
}

.select-wrap {
	display: inline-flex;
	margin-left: 10px;
}

.select-wrap:before {
	position: absolute;
	top: 53%;
	transform: translate(20px, -50%);
	font-size: 24px;
	pointer-events: none;
}

.select-wrap:after {
	position: relative;
	top: -6px;
	content: '\e903';
	font-family: 'Icons';
	margin-left: -1.2em;
	font-size: 24px;
	pointer-events: none;
	transform: rotate(180deg);
	color: black;
	transition: color 0.2s;
	pointer-events: none;
}

.select {
	border-radius: 40px;
	background-color: #ff4040;
	font: normal normal normal 12px/18px 'Delius Swash Caps';
	border: none;
	outline: none;
	appearance: none;
}

/*******************************************************************************
 *                                                                             *
 * launcher settings                                                           *
 *                                                                             *
 ******************************************************************************/
.checkbox-settings {
	display: none;
}

.checkbox-settings + label {
	display: inline;
	position: relative;
	top: 2px;
	margin-right: 24px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	transition: background-color 0.2s;
	padding: 0px;
	background-color: #ffffff;
	cursor: pointer;
}

.checkround {
	position: absolute;
	z-index: 2;
	border-radius: 7px;
	transition: all 0.2s;
	background-color: #ffffff;
}

.checkbox-settings:checked + label {
	background-color: #ff3232;
}

.checkround {
	border-radius: 3px;
}

.checkbox-settings + label {
	display: inline-block;
	margin-right: 8px;
}
