@import 'font.css';

body {
	/* Color del fondo de la venanita de incio del Launcher*/
	background-color: #000;
	font-family: 'Delius Swash Caps';
	letter-spacing: 0px;
	-webkit-app-region: drag;
	user-select: none;
}

body::before {
	content: '';
	position: absolute;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	height: 200px;
}

.splash {
	position: absolute;
	top: 180px;
	left: 50%;
	transform: translate(-50%);
	transition: opacity 0.3s, top 1.5s;
	opacity: 0;
	z-index: 1;
}

.splash.opacity {
	opacity: 1;
}

.splash.translate {
	top: 100px;
}

.splash-message {
	position: absolute;
	top: 289px;
	left: 0px;
	width: 400px;
	font: normal normal bold 19px/29px 'Delius Swash Caps';
	text-align: center;
	letter-spacing: 0px;
	transition: opacity 1.5s;
	color: rgb(255, 255, 255);
	opacity: 0;
}

.splash-message.opacity {
	opacity: 1;
}

.splash-author {
	position: absolute;
	top: 360px;
	left: 0px;
	width: 400px;
	text-align: center;
	transition: opacity 1.5s;
	font: normal normal normal 9px/13px 'Delius Swash Caps';
	color: rgb(255, 255, 255);
	opacity: 0;
}

.splash-author .author {
	font: normal normal bold 9px/13px 'Delius Swash Caps';
}

.splash-author.opacity {
	opacity: 1;
}

.message {
	position: absolute;
	top: 363px;
	left: 0px;
	width: 400px;
	text-align: center;
	transition: opacity 1.5s;
	font: normal normal bold 18px/27px 'Delius Swash Caps';
	color: rgb(255, 255, 255);
	opacity: 0;
}

.message.opacity {
	opacity: 1;
}

progress {
	position: absolute;
	top: 430px;
	left: 106px;
	width: 189px;
	height: 10px;
	appearance: none;
	transition: opacity 0.2s;
	opacity: 0;
}

progress.show {
	opacity: 1;
}

progress::-webkit-progress-bar {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}

progress::-webkit-progress-value {
	background-color: rgb(255, 0, 0);
	border-radius: 10px;
}